*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* primary */
  --blue-200: hsl(193, 38%, 86%);
  --green-300: hsl(150, 100%, 66%);
  /* Neutral */
  --blue-600: hsl(217, 19%, 38%);
  --blue-900: hsl(217, 19%, 24%);
  --blue-950: hsl(218, 23%, 16%);
  font-size: 62.5%;
}

body {
  background-color: var(--blue-950);
  line-height: 1.5;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 2.2rem;
  font-weight: 800;
  color: var(--blue-200);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.advice-container {
  background-color: var(--blue-900);
  width: 90%;
  height: 44vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: relative;
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  box-shadow: 0 0 7rem rgba(0, 0, 0, 0.3);
}

#advice-title {
  color: var(--green-300);
  font-size: 1.5rem;
  text-decoration: unset;
  letter-spacing: 1.3px;
}

#pattern-divider-mobile {
  width: 90%;
  transform: scale(1.1);
}

#pattern-divider-desktop {
  display: none;
}

#generate-btn {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  background-color: var(--green-300);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: filter 0.1s ease-in-out;
}

#generate-btn:hover {
  filter: drop-shadow(0 0 1rem var(--green-300));
}

#generate-btn img {
  transform: scale(1);
}

.attribution {
  position: absolute;
  bottom: 1rem;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--green-300);
}

/* Add Loading Animation */
@keyframes shimmer {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.loading {
  animation: shimmer 1.5s infinite;
  color: #aaa !important;
  font-style: italic;
}

#generate-btn:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

@media (min-width: 375px) {
  .advice-container {
    height: 50vh;
  }
  #advice-text {
    font-size: 2.5rem;
  }
}

@media (min-width: 768px) {
  .advice-container {
    width: 540px;
    height: auto;
    min-height: 330px;
    padding: 4.8rem;
  }
  #advice-text {
    font-size: 1.8rem;
  }
  #advice-title {
    font-size: 1.5rem;
  }
  #pattern-divider-desktop {
    display: block;
    width: 100%;
  }
  #generate-btn {
    height: 4rem;
    width: 4rem;
  }
  #generate-btn img {
    transform: scale(0.7);
  }
  #pattern-divider-mobile {
    display: none;
  }
}
